form {
    width: 35rem;
    margin-inline: auto;
    padding-block: 5rem;
}
fieldset {
    margin-bottom: 3rem;
    border: none;
}
legend {
    display: flex;
    align-items: center;
    gap: .75rem;
    font: var(--heading-sm);
    color: var(--text-heading);
    margin-bottom: 1.5rem;
    svg {
        width: 1.5rem;
    }
    path {
        fill: var(--input-placeholder);
    }
}
@media (max-width: 600px) {
    form {
        width: 100%;
        padding: .5rem;
    }
}