.input-wrapper {
    display: grid;
    gap: .75rem;
    margin-bottom: 1rem;    
}
label, span {
    font: var(--text-sm);        
}
input, .toggle {
    width: 100%;
    padding: .8125rem 1rem;
    border-radius: .5rem;
    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    outline: none;
    &:focus,
    &:focus-within {
        border-color: var(--brand-light);
    }
    &[placeholder] {
        color: var( --text-heading);
    }
    &[type="radio"] {        
        display: none;
    }
    &[type="radio"]:checked + label {      
      color: var(--text-heading);
      font: var(--text-sm);
    }    
}
.container-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);        
    gap: 1rem;
}
.textarea {
    label {
        display: inline-block;
        margin-bottom: .75rem;
    }
    & input {
        padding-bottom: 98px;
    }
}