.radios {
    display: flex;
    justify-content: space-between;
}
.radio-wrapper {
    display: flex;
    align-items: center;        
    padding: 10.5px 18px;
    img {
        width: 1rem;
    }
    &:has(:checked) {
        background: var(--shape-button);
    }
}
.type-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.toggle {
    display: flex;
    padding: .20rem;      
    margin-top: .3rem;
    & [type="radio"]:checked + label {
      background: #3a3a3a;      
    }  
}
.type-option {    
    flex: 1;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: inherit;      
    & svg {
      width: 16px;
      height: 16px;
    }
}
input#presencial:checked + label svg path {
    stroke: var(--brand-light);
}
input#online:checked + label svg path {
    stroke: var(--brand-light);
}
.container-colors p {
    font: var(--text-sm);
    margin-bottom: 1rem;
}
.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.wrapper-color {
    display: flex;
    align-items: center;    
    position: relative;
    label {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid var(--shape-button);
        border-radius: 50%;
        &:hover {
            border-color: var(--shape-hover);
        }
    }
    & span {
        display: inline-block;
        width: 28px;
        height: 28px;          
        border-radius: 50%;
        position: absolute;        
        z-index: -1;        
        top: 50%;
        left: 10%;
        transform: translate(7%, -50%);
    }
    & input[type="radio"]:checked + label {
        border-color: var(--brand-light);
    }
}
.blue {
    background: var(--brand-light);
}
.navy {
    background: var(--navy);
}
.purple {
    background: var(--purple);
}
.fuschia {
    background: var(--fuschia);
}
.pink {
    background: var(--pink);
}
.danger {
    background: var(--danger);
}
.orange {
    background: var(--orange);
}
.yellow {
    background: var(--yellow);
}
.lime {
    background: var(--lime);
}
.green {
    background: var(--green);
}
.cyan {
    background: var(--cyan);
}
.themes > span {
    display: block;
    margin-block: 1rem;
}
.container-themes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--shape-button);
    border-radius: 4px;
    padding: 4px 4px 8px;
    border: 2px solid var(--input-stroke);
    width: 134px;
    &:hover {
        background: var(--shape-hover);
    }
    span {
        font: var(--text-sm);
        margin-top: 8px;
    }
    & img {
        border-radius: inherit;
    }
    &:has(input[type="radio"]:checked) {
        border-color: var(--brand-light);
    }
}
.customization-others {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
}
.custom-file-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #d1d5db;
  margin-top: 12px;
    & > figure {
        display: flex;
        gap: 8px;
        border-radius: 8px;
        padding: 10.5px 12px;
        background: var(--shape-button);
        display: flex;
    }
}
.file-name {
  color: var(--input-placeholder);
}
#file-input {
  display: none;
}
.style {
  display: flex;
  flex-direction: column;
  color: var(--text-body, #E1E1E6);
}

.teste {
    margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* Toggle base */
.toggle-style {
  position: relative;
  width: 64px;
  height: 30px;
  padding: 8px 58px 0 0;
}
/* Fundo do toggle */
.slider {
  position: absolute;
  inset: 0;
  background: var(--input-base, #1D1F23);
  border: 1px solid var(--input-stroke, #3C3F44);
  border-radius: 34px;
  cursor: pointer;
  transition: 0.3s;
}

/* Bolinha */
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: var(--input-stroke, #3C3F44);
  border-radius: 50%;
  transition: 0.3s;
}

/* Quando o toggle estiver ativo */
.toggle-style input:checked + .slider {
  background: var(--brand-light);
  border-color: var(--brand-ligh);
}

.toggle-style input:checked + .slider::before {
  transform: translateX(35px);
  background: var(--text-heading, #E1E1E6);
}
