.radios {
    display: flex;
    justify-content: space-between;
}
.radio-wrapper {
    display: flex;
    align-items: center;        
    padding: .65625rem 1.125rem;
    img {
        width: 1rem;
    }
    &:has(:checked) {
        background: var(--shape-button);
    }
}
.type-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.toggle {
    display: flex;
    padding: .20rem;      
    margin-top: .3rem;
    & [type="radio"]:checked + label {
      background: #3a3a3a;      
    }  
}
.type-option {    
    flex: 1;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: inherit;      
    & svg {
      width: 1rem;
      height: 1rem;
    }
}
input#presencial:checked + label svg path {
    stroke: var(--brand-light);
}
input#online:checked + label svg path {
    stroke: var(--brand-light);
}
.container-colors p {
    font: var(--text-sm);
    margin-bottom: 1rem;
}
.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.wrapper-color {
    display: flex;
    align-items: center;    
    position: relative;
    label {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid var(--shape-button);
        border-radius: 50%;
        &:hover {
            border-color: var(--shape-hover);
        }
    }
    & span {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;          
        border-radius: 50%;
        position: absolute;        
        z-index: -1;        
        top: 50%;
        left: 10%;
        transform: translate(7%, -50%);
    }
    & input[type="radio"]:checked + label {
        border-color: var(--brand-light);
    }
}
.blue {
    background: var(--brand-light);
}
.navy {
    background: var(--navy);
}
.purple {
    background: var(--purple);
}
.fuschia {
    background: var(--fuschia);
}
.pink {
    background: var(--pink);
}
.danger {
    background: var(--danger);
}
.orange {
    background: var(--orange);
}
.yellow {
    background: var(--yellow);
}
.lime {
    background: var(--lime);
}
.green {
    background: var(--green);
}
.cyan {
    background: var(--cyan);
}
.themes > span {
    display: block;
    margin-block: 1rem;
}
.container-themes {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--shape-button);
    border-radius: .25rem;
    padding: .25rem .25rem .5rem;
    border: 2px solid var(--input-stroke);
    width: 8.375rem;
    &:hover {
        background: var(--shape-hover);
    }
    span {
        font: var(--text-sm);
        margin-top: .5rem;
    }
    & img {
        border-radius: inherit;
    }
    &:has(input[type="radio"]:checked) {
        border-color: var(--brand-light);
    }
}
.customization-others {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
}
.custom-file-label {
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  color: #d1d5db;
  margin-top: .75rem;
    & > figure {
        display: flex;
        gap: .5rem;
        border-radius: .5rem;
        padding: .65625rem .75rem;
        background: var(--shape-button);
        display: flex;
    }
}
.file-name {
  color: var(--input-placeholder);
}
#file-input {
  display: none;
}
.style {
  display: flex;
  flex-direction: column;
  color: var(--text-body, #E1E1E6);
}
.toggle-slider {
    margin-top: .75rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.toggle-style {
  position: relative;
  width: 4rem;
  height: 1.875rem;
  padding: .5rem 3.625rem 0 0;
}
.slider {
  position: absolute;
  inset: 0;
  background: var(--input-base, #1D1F23);
  border: 1px solid var(--input-stroke, #3C3F44);
  border-radius: 2.125rem;
  cursor: pointer;
  transition: 0.3s;
}
.slider::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  left: .125rem;
  bottom: .125rem;
  background-color: var(--input-stroke, #3C3F44);
  border-radius: 50%;
  transition: 0.3s;
}
.toggle-style input:checked + .slider {
  background: var(--brand-light);
  border-color: var(--brand-ligh);
}
.toggle-style input:checked + .slider::before {
  transform: translateX(2.1875rem);
  background: var(--text-heading, #E1E1E6);
}
@media (max-width: 600px) {
    .container-themes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);                        
        padding-inline: 1rem;
    }        
    .wrapper-color {
        label {
            width: 1.7rem;
            height: 1.7rem;
        }
        & span {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
    .card {
        padding: .15rem .15rem .5rem;
        width: 100%;
        & img {
            width: 100%;
        }
    }
    .customization-others {
        flex-direction: column;
        align-items: flex-start;
    }
    .style {
        margin-bottom: 1rem;
    }
}