#terms {
    border-top: 1px solid var(--input-stroke);    
    button {
        background: var(--brand-dark);
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .75rem 1.25rem;
        border-radius: .5rem;
        margin-left: auto;
        font: var(--text-sm);
        font-weight: 600;
        color: var(--text-heading);
        img {
            width: 1.25rem;            
        }
    }
}
.container-terms {
    margin-block: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.terms {    
    display: flex;
    align-items: center;
    gap: .75rem;
    font: var(--text-sm);
    position: relative;
    & input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: 1;
    }
    a {
        color: var(--brand-light);        
    }
    & input[type="checkbox"]:checked + .img-check {
        background: url('../assets/icons/checked.svg') no-repeat center center;
        background-size: cover;
        border-color: var(--brand-light);
    }
    &:has(:hover) .img-check {
        border-color: var(--brand-light);
    }    

}
.img-check {
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--input-stroke);
    border-radius: .25rem;
}
@media (max-width: 600px) {
    .img-check {
        flex-shrink: 0;
    }
}